<!DOCTYPE html>
<html>
<head>
  <title>FoodNdb</title>
  <%= stylesheet_link_tag    "food_ndb/application", :media => "all" %>
  <%= javascript_include_tag "food_ndb/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
