table.nutrition_info {
    width : 320px;
    border : 1px solid black;
    border-collapse : collapse;
    padding: 1pt;
    background-color: white;
}

.nutrition_info th {
    font: bold 13pt "Arial Black", Gadget, sans-serif;
    text-align: justify;
    text-justify: auto;
}

.nutrition_info tr#servings td {
    text-align: center;
    font: 8pt Helvetica, sans-serif;
}

.nutrition_info tr#calories td {
    border-bottom : 3pt solid black;
}

.nutrition_info tr#minerals td {
    border-top : 7pt solid black;
}

.nutrition_info tr#bigbreak hr {
    margin: 0;
    height: 7pt;
    border: 0;
    background-color: black;
}

.nutrition_info td {
    padding : 3px;
    font-family : Arial, Helvetica, sans-serif;
    font-size : x-small;
    border-bottom : 1px solid black;
    text-align : left;
}

.nutrition_info td.noborder {
    border: 0;
}

.nutrition_info td#calories_from_fat{
    text-align : right;
}

.nutrition_info td.daily_value {
    font-weight : bold;
    text-align : right;
}

.nutrition_info span.nutrient_name {
    font-weight : bolder;
}

.nutrition_info td.sub {
    text-indent : 10px;
}

.nutrition_info td.disclaimer {
    font-size : xx-small;
}



